<h2>Edit Patient Below.</h2><br>

<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
<br>

<b>Patient #</b> <%=@patient.id%><br>
<b>Name:</b> <%=@patient.last_name%>, <%=@patient.first_name%><br>
<b>Email:</b> <%=@patient.email%><br>
<b>Username:</b> <%=@patient.username%><br>
<b>Password: **************</b></br><br>

<h4>Change Settings</h4><br>
<form action="/patients/<%=@patient.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>First Name: <input type="text" name="first_name" placeholder="<%=@patient.first_name%>"></p>
  <p>Last Name: <input type="text" name="last_name" placeholder="<%=@patient.last_name%>"></p>
  <p>Email: <input type="text" name="email" placeholder="<%=@patient.email%>"></p>
  <br><br>

  <input type="submit" value="Update Account">
</form><br><br>

 <form method="POST" action="/patients/<%=@patient.id%>/delete">
   <input id="hidden" type="hidden" name="_method" value="delete">
 <input type="submit" value="Delete Account"><p>**cannot be undone**</p>
 </form>
 <br><br>
 <a href="/patients">Back to Homepage</a>
