<h2>Edit Patient Below.</h2><br>

<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
<br>

<h4>Patient #<%=@patient.id%>:</h4>
  <b><%=@patient.last_name%>, <%=@patient.first_name%></b><br>
  <b><%=@patient.email%></b><br><br>

<form action="/doctors/<%=@doctor.slug%>/<%=@patient.id%>/edit" method="POST">
  <p>First Name: <input type="text" name="first_name" placeholder="<%=@patient.first_name%>"></p><br>
  <p>Last Name: <input type="text" name="last_name" placeholder="<%=@patient.last_name%>"></p><br>
  <p>Email: <input type="text" name="email" placeholder="<%=@patient.email%>"</p><br><br>
  <input type="submit" value="Update Patient">
 </form>

 <form method="POST" action="/doctors/<%=@doctor.slug%>/<%=@patient.id%>/delete">
 <input type="submit" value="Delete Patient">
 </form>
 <br><br>
 <a href="/doctors">All Patients</a>
