<% if !!flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Welcome Dr. <%=@doctor.username%>.</h1><br>
<h4>Please see below a list of your patients.</h4><br>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <li>
        <a href="/doctors/<%=@doctor.slug%>/<%=patient.id%>"><%=patient.last_name%>, <%=patient.first_name%></a>
      </li><br>
    <% end %>
  </ul>
<br><br>
<a href="/doctors/new"><button>Add Patient</button></a><br><br>
<a href="/meds">View All Medications</a>
