<h2>Add New Patient Below.</h2><br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br><br>

<form action="/doctors/new" method="POST">
  <p>First Name: <input type="text" name="first_name"></p><br>
  <p>Last Name: <input type="text" name="last_name"></p><br>
  <p>Email: <input type="text" name="email"></p><br>

  <p><u>Medications</u></p>
  <ul>
    <% @meds.each do |med| %>
        <li>
          <input id="<%=med.name%>" type="checkbox" name="meds[]" value="<%=med.id%>"
          <label for="<%=med.name%>"><%=med.name%>, <%=med.dosage%>mg</label>
        </li><br>
        <%end%>
    </ul><br><br>

  <input type="submit" value="Create Patient">
 </form>
<br><br>
<a href="/doctors">Back</a>
