<% if !!flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2>Patient #<%=@patient.id%>: <%=@patient.last_name%>, <%=@patient.first_name%></h2>

<h3><u><b>Prescribed Medications:</u></b></h3>
  <ul>
    <% @patient.meds.each do |p| %>
      <li>
        <b><u>Name:</b></u> <%=p.name%>, <b><u>Dosage(mg):</b></u> <%=p.dosage%>
      </li>
    <%end%>
  </ul>
<br><br>
<form action="/doctors/<%=@doctor.slug%>/<%=@patient.id%>/edit" method="GET">
<input type="submit" value="Edit Patient">
</form>
<br><br>

<a href="/doctors">All Patients</a>
